{% extends 'base.html' %} {% load static %} {% block pageContent %}
<style>
    .thumb-item:nth-child(2n + 2) {
        background-color: #d5d5d547;
        transition: all .2s ease-in-out;
    }
    
    .thumb-item:nth-child(2n + 1) {
        background-color: #afafafb8;
    }
    
    .thumbnail-holder {
        width: 100%;
        height: 23vh;
    }
    
    .thumbnail-photo {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
        object-position: center center;
        transition: all .2s ease-in-out;
    }
    
    .thumb-item:hover .thumbnail-photo {
        /* object-fit: scale-down; */
        transform: scale(1.3);
    }
</style>
<section class="py-4">
    <div class="container">
        <h3 class="fw-bolder text-center">Trash</h3>
        <center>
            <hr class="bg-primary opacity-100" style="height:3px" width="5%">
        </center>
        <div class="row">
            {% for photo in photos %}
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 p-2 thumb-item px-2 py-4">
                <div class="text-end">
                    <div class="dropdown">
                        <a class="text-reset fw-bolder ps-3" href="#" role="button" id="photo{photo.pk}" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v"></i>
                        </a>

                        <ul class="dropdown-menu rounded-0" aria-labelledby="photo{photo.pk}">
                            <li><a class="dropdown-item restore_image" data-url="{% url 'restore-upload' photo.pk %}" href="javascript:void(0)"><i class="fa fa-trash-restore text-muted"></i> Restore</a></li>
                            <li><a class="dropdown-item delete_image" data-url="{% url 'delete-upload' photo.pk %}" href="javascript:void(0)"><i class="fa fa-trash text-danger"></i> Delete Forever</a></li>
                        </ul>
                    </div>
                </div>
                <a href="javascript:void(0)" data-img-url="{{photo.image_path.url}}" class="view_image">
                    <div class="position-relateive thumbnail-holder overflow-hidden">
                        <img src="{{photo.thumbnail_path.url}}" class="image-fluid thumbnail-photo bg-dark" alt="">
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% if not photos %}
        <center>
            <small class='text-muted'><em>No data</em></small>
        </center>
        {% endif %}
    </div>
</section>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('.view_image').click(function() {
            var img = $(this).attr('data-img-url')
            $('#viewer_modal #img-viewer-field').attr('src', img)
            $('#viewer_modal').modal('show')
        })
        $('.restore_image').click(function() {
            _conf("Are you sure to restore this file?", 'exec_func', ["'" + $(this).attr('data-url') + "'"])
        })
        
        $('.delete_image').click(function() {
            _conf("Are you sure to delete this file?", 'exec_func', ["'" + $(this).attr('data-url') + "'"])
        })
    })

    function exec_func(url) {

        var _this = $('#confirm_modal .modal-body')
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        start_loader()
        $.ajax({
            headers: {
                "X-CSRFToken": "{{csrf_token}}"
            },
            url: url,
            dataType: 'JSON',
            error: err => {
                console.log(err)
                alert("an error occurred.")
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    el.html(resp.msg)
                    _this.prepend(el)
                    el.show()
                } else {
                    el.html("An error occurred")
                    _this.prepend(el)
                    el.show()
                }
                end_loader()
            }

        })
    }
</script>
{% endblock ScriptBlock %}